html body {
    height: 100vh;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: sans-serif;
    color: #444;
    background-color: #fff;
}
div {
    text-align: center;
    margin: 0 auto;
    position: absolute;
}
h1 {
    font-size:150px;
    font-weight:700;
    margin: 0;
}
h2 {
    font-size: 30px;
    margin-top: 20px;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    min-width: 120px;
}
.button-green {
    background-color: white;
    background-color: rgb(6, 155, 11);
}
.button-green:hover {
    background-color: rgb(2, 116, 6);
    color: white;
}
.button-blue {
    background-color: white; 
    background-color: rgb(26, 124, 156);
}
.button-blue:hover {
    background-color: rgb(2, 78, 104);
    color: white;
}